In [1]:
import os
import sys
import pandas as pd
import numpy as np

from prog import scheduler as sch

In [2]:
homey = os.getcwd()

In [3]:
dataPath = os.path.join(homey, 'data')
progPath = os.path.join(homey, 'prog')
simPath = os.path.join(homey, 'FB_Sim')
forcPath = os.path.join(simPath, 'ForecastRedoux')
# this should probably be moved out of the simulator and into the main sql area, where that ends up
sqlPath = os.path.join(forcPath, 'SQL')
queryPath = os.path.join(dataPath, 'query')

# set paths to excel files
forecastFilename = os.path.join(dataPath, 'RegularForecast.xlsx')
mfgCentersFilename = os.path.join(dataPath, 'MfgCenters.xlsx')
moFilename = os.path.join(dataPath, 'MOs.xlsx')
laborAvailFilename = os.path.join(dataPath, 'LaborAvailablePerDay.xlsx')
leadFilename = os.path.join(dataPath, 'LeadTimes.xlsx')
invFilename = os.path.join(dataPath, 'INVs.xlsx')
soFilename = os.path.join(dataPath, 'SOs.xlsx')
poFilename = os.path.join(dataPath, 'POs.xlsx')
partFilename = os.path.join(dataPath, 'Parts.xlsx')
descFilename = os.path.join(dataPath, 'Descs.xlsx')
bomFilename = os.path.join(dataPath, 'BOMs.xlsx')
finalSchedFilename = os.path.join(homey, 'finalSchedule.xlsx')

In [4]:
laborDF = pd.read_excel(laborAvailFilename, header=0)

In [21]:
dateListDict = {}
todayTimestamp = pd.Timestamp.today()
for x in range(0, len(laborDF)):
	labType = laborDF['LaborType'].iat[x]
	hoursPerDay = laborDF['HoursPerDay'].iat[x]
	centerDateList = sch.create_date_list(todayTimestamp=todayTimestamp, dailyLabor=hoursPerDay)
	dateListDict[labType] = centerDateList.copy()

In [22]:
laborDF

        LaborType  HoursPerDay
0  Cable Assembly            7
1         Kitting           13
2          Labels            7
3             PCB           26
4        Plastics            1
5        Pro Line           32
6         Racking            7
7            Test           16
8       Packaging            6

In [15]:
data = {}

In [17]:
data['a'] = 1

In [19]:
data['b'] = 2

In [20]:
data

{'a': 1, 'b': 2}

In [28]:
dateListDict['Test']

,AvailableLabor,DaysFromStart,StartDate,weekday,DailyLabor
0,16.0,1.0,2018-05-04 17:09:01.994871,4,16
3,32.0,2.0,2018-05-07 17:09:01.994871,0,16
4,48.0,3.0,2018-05-08 17:09:01.994871,1,16
5,64.0,4.0,2018-05-09 17:09:01.994871,2,16
6,80.0,5.0,2018-05-10 17:09:01.994871,3,16
7,96.0,6.0,2018-05-11 17:09:01.994871,4,16
10,112.0,7.0,2018-05-14 17:09:01.994871,0,16
11,128.0,8.0,2018-05-15 17:09:01.994871,1,16
12,144.0,9.0,2018-05-16 17:09:01.994871,2,16
13,160.0,10.0,2018-05-17 17:09:01.994871,3,16
14,176.0,11.0,2018-05-18 17:09:01.994871,4,16
17,192.0,12.0,2018-05-21 17:09:01.994871,0,16
18,208.0,13.0,2018-05-22 17:09:01.994871,1,16
19,224.0,14.0,2018-05-23 17:09:01.994871,2,16
20,240.0,15.0,2018-05-24 17:09:01.994871,3,16
21,256.0,16.0,2018-05-25 17:09:01.994871,4,16
24,272.0,17.0,2018-05-28 17:09:01.994871,0,16
25,288.0,18.0,2018-05-29 17:09:01.994871,1,16
26,304.0,19.0,2018-05-30 17:09:01.994871,2,16
27,320.0,20.0,2018-05-31 17:09:01.994871,3,16
28,336.0,21.0,2018-06-01 17:09:01.994871,4,16
31,352.0,22.0,2018-06-04 17:09:01.994871,0,16
32,368.0,23.0,2018-06-05 17:09:01.994871,1,16
33,384.0,24.0,2018-06-06 17:09:01.994871,2,16
34,400.0,25.0,2018-06-07 17:09:01.994871,3,16
35,416.0,26.0,2018-06-08 17:09:01.994871,4,16
38,432.0,27.0,2018-06-11 17:09:01.994871,0,16
39,448.0,28.0,2018-06-12 17:09:01.994871,1,16
40,464.0,29.0,2018-06-13 17:09:01.994871,2,16
41,480.0,30.0,2018-06-14 17:09:01.994871,3,16
...,...,...,...,...,...
1958,22384.0,1399.0,2023-09-13 17:09:01.994871,2,16
1959,22400.0,1400.0,2023-09-14 17:09:01.994871,3,16
1960,22416.0,1401.0,2023-09-15 17:09:01.994871,4,16
1963,22432.0,1402.0,2023-09-18 17:09:01.994871,0,16
1964,22448.0,1403.0,2023-09-19 17:09:01.994871,1,16
1965,22464.0,1404.0,2023-09-20 17:09:01.994871,2,16
1966,22480.0,1405.0,2023-09-21 17:09:01.994871,3,16
1967,22496.0,1406.0,2023-09-22 17:09:01.994871,4,16
1970,22512.0,1407.0,2023-09-25 17:09:01.994871,0,16
1971,22528.0,1408.0,2023-09-26 17:09:01.994871,1,16
1972,22544.0,1409.0,2023-09-27 17:09:01.994871,2,16
1973,22560.0,1410.0,2023-09-28 17:09:01.994871,3,16
1974,22576.0,1411.0,2023-09-29 17:09:01.994871,4,16
1977,22592.0,1412.0,2023-10-02 17:09:01.994871,0,16
1978,22608.0,1413.0,2023-10-03 17:09:01.994871,1,16
1979,22624.0,1414.0,2023-10-04 17:09:01.994871,2,16
1980,22640.0,1415.0,2023-10-05 17:09:01.994871,3,16
1981,22656.0,1416.0,2023-10-06 17:09:01.994871,4,16
1984,22672.0,1417.0,2023-10-09 17:09:01.994871,0,16
1985,22688.0,1418.0,2023-10-10 17:09:01.994871,1,16
1986,22704.0,1419.0,2023-10-11 17:09:01.994871,2,16
1987,22720.0,1420.0,2023-10-12 17:09:01.994871,3,16
1988,22736.0,1421.0,2023-10-13 17:09:01.994871,4,16
1991,22752.0,1422.0,2023-10-16 17:09:01.994871,0,16
1992,22768.0,1423.0,2023-10-17 17:09:01.994871,1,16
1993,22784.0,1424.0,2023-10-18 17:09:01.994871,2,16
1994,22800.0,1425.0,2023-10-19 17:09:01.994871,3,16
1995,22816.0,1426.0,2023-10-20 17:09:01.994871,4,16
1998,22832.0,1427.0,2023-10-23 17:09:01.994871,0,16
1999,22848.0,1428.0,2023-10-24 17:09:01.994871,1,16